<main role="main" class="inner cover">
  <div class="app-card-container">
    <div class="card">
      <h1 class="cover-heading">About me.</h1>
      <div class="row">
        <div class="col-md-4">
          <%= image_tag "bear.jpg", width: 250, alt: "profile image", class: "profile-image" %>
        </div>
        <div class="col-md-8">
          <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
          <button class="btn btn-primary"
                  type="button"
                  data-toggle="collapse"
                  data-target="#jobHistory"
                  aria-expendad="false"
                  aria-controler="jobHistory"
          >
            Job History  
          </button>

          <button class="btn btn-primary"
                  type="button"
                  data-toggle="collapse"
                  data-target="#education"
                  aria-expendad="false"
                  aria-controler="education"
          >
            Education  
          </button> 

          <p>
            <div class="collapse" id="jobHistory">
              <div class="card card-block">
                Job1 
              </div>
              <div class="card card-block">
                Job2 
              </div>
              <div class="card card-block">
                Job3 
              </div>
              <div class="card card-block">
                Job4 
              </div>
            </div>
          </p> 

          <p>
            <div class="collapse" id="education">
              <div class="card card-block">
                School 1 
              </div>
              <div class="card card-block">
                School 2 
              </div>
              <div class="card card-block">
                School 3 
              </div>
              <div class="card card-block">
                School 4 
              </div>
            </div>
          </p>  
        </div>
      </div>
    </div>
  </div>  
</main>
